.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    @include px-to-vw('padding', 20, 20);

    // .header__body
    &__body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 $margin;

        & > :nth-child(3) {
            margin-inline: auto;
        }

        & > :nth-child(4),
        & > :nth-child(5) {
            margin-left: auto;
        }
    }

    // .header__animate
    &__animate {
        @include px-to-vw('height', 40, 40);
        overflow: hidden;

        // .header__animate-item
        &-item {
            transform: translateY(100%);
        }
    }

    // .header__logo
    &__logo {
        display: block;
        @include px-to-vw('width', 55, 55);

        img,
        svg {
            width: 100%;
            @include px-to-vw('height', 40, 40);
            object-fit: contain;
            object-position: left;
        }
    }
}